<div class="login_bg">
    <div id="logo">
        <img src="__PUBLIC__/Images/Public/logo.png" alt=""/>
    </div><div class="padding-10"></div>
    <a class="login_btn" href="{:U('login')}">登&nbsp;&nbsp;录</a>
    <a class="login_btn" href="{:U('reg')}">注&nbsp;&nbsp;册</a>{/*
    <div class="other_login">
        <div class="other"></div>
        <span>其他方式登录</span>
        <div class="other"></div>
    </div>
    <div class="other_choose">
        <a href="">
            <img src="__PUBLIC__/Images/Public/qq.png" alt=""/>
        </a>
        <a href="">
            <img src="__PUBLIC__/Images/Public/wx.png" alt=""/>
        </a>
        <a href="">
            <img src="__PUBLIC__/Images/Public/wb.png" alt=""/>
        </a>
    </div> */}
</div>