<div class="header bg-main">
  <div class="logo margin-big-left fadein-top">
    <h1><img src="__PUBLIC__/Images/Admin/y.jpg" class="radius-circle rotate-hover" height="50" alt="" />后台管理中心</h1>
  </div>
  <div class="head-l">
      <!--<a class="button button-little bg-green" href="" target="_blank"><span class="icon-home"></span> 前台首页</a> &nbsp;&nbsp;-->
      <a href="##" class="button button-little bg-blue"><span class="icon-wrench"></span> 修改登录密码</a> &nbsp;&nbsp;
      <a class="button button-little bg-red" href="{:U('Login/logout')}"><span class="icon-power-off"></span> 退出登录</a> </div>
</div>
<div class="leftnav">
    <div class="leftnav-title"><h3>&nbsp;&nbsp;列表管理</h3></div>
  <?php $menu = C('MENU_CONFIG'); ?>
  <foreach item="v" name="menu" key="k">
    <h2><span class="{$v.class}"></span>{$v.name}</h2>
    <ul>
        <foreach name="v.content" item="vt" key='kt'>
            <?php $temp = session('admin.userinfo');if(in_array($k .'/' .$kt,$temp['content'])): ?>
            <li><a href="{:U($k.'/'.$kt)}" target="right"><span class="icon-caret-right"></span>{$vt}</a></li>
            <?php endif; ?>
        </foreach>
    </ul>   
  </foreach>
</div>
<script type="text/javascript">
$(function(){
  $(".leftnav h2").click(function(){
	  $(this).next().slideToggle(200);	
	  $(this).toggleClass("on"); 
  })
  $(".leftnav ul li a").click(function(){
	    $("#a_leader_txt").text($(this).text());
  		$(".leftnav ul li a").removeClass("on");
		$(this).addClass("on");
  })
});
</script>
<ul class="bread">
  <li><a href="{:U('Index/info')}" target="right" class="icon-home"> 首页</a></li>
  <li><a href="##" id="a_leader_txt">欢迎使用</a></li>
  <li><b>当前语言：</b><span style="color:red;">中文</span></li>
</ul>
<div class="admin">
  <iframe scrolling="auto" rameborder="0" src="{:U('Index/hello')}" name="right" width="100%" height="100%"></iframe>
</div>
<div class="footer-wap">
    Powered by <a href="http://xiaoyutab.cn" target="_blank">xiaoyutab.cn</a>
</div>