<div class="panel admin-panel" id="listform">
    <div class="panel-head"><strong class="icon-cogs"> 通讯录列表</strong> </div>
    <div class="padding border-bottom">
        <ul class="search" style="padding-left:10px;">
            <li> <a class="button border-main" href="{:U('directories_user_add')}"> 添加人员</a> </li>
            <li>搜索：</li>
            <li>
                <form method="get" >
                    <input type="hidden" name='s' value="<?php echo MODULE_NAME.'/'.CONTROLLER_NAME.'/'.ACTION_NAME;?>"/>
                    <input type="text" placeholder="用户姓名/电话/邮箱/职位/工号" name="keywords" class="input" value="{:I('get.keywords')}" style="width:250px; line-height:17px;display:inline-block" />
                    <input type="submit" class="button border-main icon-search" value="搜索"/>
                </form>
            </li>
            <li>
                <i>共查询出了 （{$count}） 条</i>
            </li>
        </ul>
    </div>
    <table class="table table-hover text-center">
        <tr>
            <th width="100" style="text-align:left; padding-left:20px;">ID</th>
            <th>工号</th>
            <th>头像</th>
            <th>用户姓名</th>
            <th>用户手机</th>
            <th>用户电话</th>
            <th>用户邮箱</th>
            <th>所在部门</th>
            <th>用户职位</th>
            <th width="10%">添加时间</th>
            <th width="10%">操作</th>
        </tr>
        <foreach name="list" item="v">
            <tr>
                <td style="text-align:left; padding-left:20px;">{$v.id}</td>
                <td>{$v.name}</td>
                <td>{$v.fid_name}</td>
                <td>{$v.count_people}</td>
                <td>{$v.count_directories}</td>
                <td>{$v.ad_time|date="Y-m-d H:i:s",###}</td>
                <td>
                    <div class="button-group">
                        <a class="button border-main" href="{:U('department_save',array('id'=>$v['id']))}">修改</a> 
                        <a class="button border-red" href="javascript:void(0)" onclick="return del('{:U('department_del',array('id'=>$v['id']))}')">删除</a>
                    </div>
                </td>
            </tr>
        </foreach>
        <tr>
            <td colspan="7"><div class="pagelist"> 
                    {$page}
                </div>
            </td>
        </tr>
    </table>
</div>
<script type="text/javascript">
    function del(url) {
        if (confirm("您确定要删除吗?")) {
            window.location = url;
        }
    }
</script>