<div class="panel admin-panel" id="listform">
    <div class="panel-head"><strong class="icon-cogs"> 公告管理</strong> </div>
    <div class="padding border-bottom">
        <ul class="search" style="padding-left:10px;">
            <form method="get" >
                <li> <a class="button border-main" href="{:U('notice_add')}"> 添加公告</a> </li>
                <li>搜索：</li>
                <li>
                    <input type="hidden" name='s' value="<?php echo MODULE_NAME.'/'.CONTROLLER_NAME.'/'.ACTION_NAME;?>"/>
                    <input type="text" placeholder="请输入标题/作者" name="keywords" class="input" value="{:I('get.keywords')}" style="width:250px; line-height:17px;display:inline-block" />
                </li>
                <li>
                    <input type="submit" class="button border-main icon-search" value="搜索"/>
                </li>
                <li>
                    <i>共查询出了 （{$count}） 条</i>
                </li>
            </form>
        </ul>
    </div>
    <table class="table table-hover text-center">
        <tr>
            <th width="100" style="text-align:left; padding-left:20px;">ID</th>
            <th>标题</th>
            <th>作者</th>
            <th>有效天数</th>
            <th width="15%">添加时间</th>
            <th width="15%">操作</th>
        </tr>
        <foreach name="n_list" item="v">
            <tr>
                <td style="text-align:left; padding-left:20px;">{$v.id}</td>
                <td>{$v.title|replace_keywords=I('get.keywords'),###}</td>
                <td>{$v.author|replace_keywords=I('get.keywords'),###}</td>
                <td><?php if($v['effective_time'] == 0){ echo '长期有效'; }else{ echo $v['effective_time'].' 天'; } ?></td>
                <td>{$v.ad_time|date="Y-m-d H:i:s",###}</td>
                <td>
                    <div class="button-group">
                        <a class="button border-main" href="{:U('notice_save',array('id'=>$v['id']))}">修改</a> 
                        <a class="button border-red" href="javascript:void(0)" onclick="return del('{:U('notice_del',array('id'=>$v['id']))}')">删除</a>
                    </div>
                </td>
            </tr>
        </foreach>
        <tr>
            <td colspan="11"><div class="pagelist"> 
                    {$page}
                </div>
            </td>
        </tr>
    </table>
</div>
<script type="text/javascript">
    function del(url) {
        if (confirm("您确定要删除吗?")) {
            window.location = url;
        }
    }
</script>