<div class="panel admin-panel">
    <div class="panel-head" id="add"><strong><span class="icon-pencil-square-o"></span>&nbsp;添加市级地区信息</strong></div>
    <div class="body-content">
        <form method="post" class="form-x" action="">
            <div class="form-group">
                <div class="label">
                    <label>省市编号</label>
                </div>
                <div class="field">
                    <input type="text" class="input w50" value="{:I('get.id')}" data-occupy="{$ids}:该数字已被占用({$ids})" name="id" data-max='99:数字最大值为99' data-min='10:数字最小值为10' data-validate="required:编号不能为空,number:该输入框仅允许输入数字" />
                    <div class="tips"></div>
                </div>
            </div>
            <div class="form-group" style="padding-left:100px;">备注：省市编号为身份证开头前两位</div>
            <div class="form-group">
                <div class="label">
                    <label>省市名称</label>
                </div>
                <div class="field">
                    <input type="text" class="input w50" name="name" data-validate="required:省市名称不能为空" />
                    <div class="tips"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>省市拼音</label>
                </div>
                <div class="field">
                    <input type="text" class="input w50" name="speel"/>
                    <div class="tips"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>省市简拼</label>
                </div>
                <div class="field">
                    <input type="text" class="input w50" name="abbreviation"/>
                    <div class="tips"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label></label>
                </div>
                <div class="field">
                    <button class="button bg-main icon-check-square-o" type="submit"> 提交</button>
                </div>
            </div>
        </form>
    </div>
</div>