<div class="panel admin-panel">
    <div class="panel-head" id="add"><strong><span class="icon-pencil-square-o"></span>&nbsp;添加用户职位信息</strong></div>
    <div class="body-content">
        <form method="post" class="form-x" action="">  
            <div class="form-group">
                <div class="label">
                    <label>上级职位名称</label>
                </div>
                <div class="field">
                    <select name="fid" class="input w50">
                        <option value="0">顶级职位</option>
                        <optgroup label="--------------------"></optgroup>
                        <foreach name="user_office_list" key="k" item="v">
                            <option value="{$k}">{$v}</option>
                        </foreach>
                    </select>
                    <div class="tips"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>职位名称</label>
                </div>
                <div class="field">
                    <input type="text" class="input w50" name="office_name" data-validate="required:用户职位名称" />
                    <div class="tips"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label></label>
                </div>
                <div class="field">
                    <button class="button bg-main icon-check-square-o" type="submit"> 提交</button>
                </div>
            </div>
        </form>
    </div>
</div>