<div class="panel admin-panel">
    <div class="panel-head" id="add"><strong><span class="icon-pencil-square-o"></span>&nbsp;修改市级地区信息</strong></div>
    <div class="body-content">
        <form method="post" class="form-x" action="">
            <div class="form-group">
                <div class="label">
                    <label>省市编号</label>
                </div>
                <div class="field">
                    <input type="text" class="input w50" value="{:I('get.id')}" data-occupy="{$ids}:该数字已被占用({$ids})" name="id" data-max='<?php echo $_GET['fid'] * 100 + 100 - 1; ?>:数字最大值为<?php echo $_GET['fid'] * 100 + 100 - 1; ?>' data-min='<?php echo $_GET['fid'] * 100; ?>:数字最小值为<?php echo $_GET['fid'] * 100; ?>' data-validate="required:编号不能为空,number:该输入框仅允许输入数字" />
                    <div class="tips"></div>
                </div>
            </div>
            <div class="form-group" style="padding-left:100px;">备注：省市编号为身份证开头前四位</div>
            <div class="form-group">
                <div class="label">
                    <label>省市名称</label>
                </div>
                <div class="field">
                    <input type="text" class="input w50" name="name" data-validate="required:省市名称不能为空" value="{$g_info.name}"/>
                    <div class="tips"></div>
                </div>
            </div>
            <div class="form-group" style="padding-left:100px;">备注：所属省为{$g_info.parent.name}</div>
            <div class="form-group">
                <div class="label">
                    <label>省市拼音</label>
                </div>
                <div class="field">
                    <input type="text" class="input w50" value="{$g_info.speel}" name="speel"/>
                    <div class="tips"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>省市简拼</label>
                </div>
                <div class="field">
                    <input type="text" class="input w50" value="{$g_info.abbreviation}" name="abbreviation"/>
                    <div class="tips"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>是否直辖市</label>
                </div>
                <div class="field">
                    <div class="button-group radio">
                        <label class="button <?php if($g_info['commend'] == 0){echo 'active';} ?>">
                            <span class="icon icon-dot-circle-o"></span>
                            <input name="commend" value="0" type="radio" <?php if($g_info['commend'] == 0){echo 'checked="checked"';} ?>>否
                        </label>
                        <label class="button <?php if($g_info['commend'] == 1){echo 'active';} ?>"><span class="icon icon-dot-circle-o"></span>
                            <input name="commend" value="1"  type="radio" <?php if($g_info['commend'] == 1){echo 'checked="checked"';} ?>>是
                        </label>
                    </div>       
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label></label>
                </div>
                <div class="field">
                    <button class="button bg-main icon-check-square-o" type="submit"> 提交</button>
                </div>
            </div>
        </form>
    </div>
</div>