<div id="aui-slide" class=" ">
    <div class="aui-slide-wrap" >
        <div class="aui-slide-node aui-slide-node-middle aui-slide-node-center">
            <div class="aui-content-padded">
                <span class="aui-text-danger">每日精选</span> 
                当你发现你的父母无论做什么事，都要跟你商量的时候，那就说明他们已经老了。 那也说明这个家你就是顶梁柱了。。。
            </div>
        </div>
        <div class="aui-slide-node bg-dark">
            <img src="__PUBLIC__/wget/auicss/aui-v2.1/image/l1.png" />
        </div>
        <div class="aui-slide-node bg-dark">
            <img src="__PUBLIC__/wget/auicss/aui-v2.1/image/l2.png" />
        </div>
    </div>
    <div class="aui-slide-page-wrap"><!--分页容器--></div>
</div>
<section class="aui-content-padded aui-margin-b-15">
        <p><i class="aui-iconfont aui-icon-info" style="color:red"></i>&nbsp;
                <marquee  style="height:1.5em;width:85%;" scrollamount="3" direction="left" loop="-1" behavior="scroll">
                    今日天气/公告，带左右滚动条的哦|||今日天气/公告，带左右滚动条的哦|||今日天气/公告，带左右滚动条的哦|||今日天气/公告，带左右滚动条的哦、
                </marquee>
           </p>
</section>
<div class="aui-content aui-margin-b-15">
    <ul class="aui-list aui-list-in">
        <li class="aui-list-header">
            剩余任务列表
        </li>
        <li class="aui-list-item aui-list-item-middle">
            <div class="aui-list-item-inner aui-list-item-arrow">
                <div class="aui-list-item-title">Item1</div>
        </li>
        <li class="aui-list-item">
            <div class="aui-list-item-inner aui-list-item-arrow">
                <div class="aui-list-item-title">Item2</div>
            </div>
        </li>
        <li class="aui-list-item">
            <div class="aui-list-item-inner aui-list-item-arrow">
                <div class="aui-list-item-title">Item3</div>
            </div>
        </li>
        <li class="aui-list-item">
            <div class="aui-list-item-inner aui-list-item-arrow">
                <div class="aui-list-item-title">查看全部</div>
            </div>
        </li>
    </ul>
</div>
<section class="aui-grid aui-margin-b-15">
    <div class="aui-row">
        <div class="aui-col-xs-4">
            <div class="aui-badge">88</div>
            <i class="aui-iconfont aui-icon-home"></i>
            <div class="aui-grid-label">首页</div>
        </div>
        <div class="aui-col-xs-4">
            <i class="aui-iconfont aui-icon-gear"></i>
            <div class="aui-grid-label">设置</div>
        </div>
        <div class="aui-col-xs-4">
            <i class="aui-iconfont aui-icon-map"></i>
            <div class="aui-grid-label">地图</div>
        </div>
        <div class="aui-col-xs-4">
            <i class="aui-iconfont aui-icon-calendar"></i>
            <div class="aui-grid-label">日历</div>
        </div>
        <div class="aui-col-xs-4">
            <div class="aui-badge"></div>
            <i class="aui-iconfont aui-icon-date"></i>
            <div class="aui-grid-label">日期</div>
        </div>
        <div class="aui-col-xs-4">
            <div class="aui-dot"></div>
            <i class="aui-iconfont aui-icon-cart"></i>
            <div class="aui-grid-label">购物车</div>
        </div>
    </div>
</section>
<script type="text/javascript">
    var slide = new auiSlide({
        container: document.getElementById("aui-slide"),
        // "width":300,
        "height": 180,
        "speed": 300,
        "pageShow": true,
        "pageStyle": 'dot',
        "loop": true,
        'dotPosition': 'center',
    })
</script>