<div class="panel admin-panel" id="listform">
    <div class="panel-head"><strong class="icon-briefcase"> 项目列表</strong> </div>
    <div class="padding border-bottom">
        <form method="get" >
            <ul class="search" style="padding-left:10px;">
                <li> <a class="button border-main" href="{:U('add_apis')}"> 新建项目</a> </li>
                <li>
                    <input type="hidden" name='s' value="<?php echo MODULE_NAME.'/'.CONTROLLER_NAME.'/'.ACTION_NAME;?>"/>
                    <input type="text" placeholder="项目名称/公司/团队名称" name="keywords" class="input" value="{:I('get.keywords')}" style="width:200px; line-height:17px;display:inline-block" />
                </li>
                <li>
                    <input type="submit" class="button border-main" value="搜索"/>
                </li>
                <li>
                    <i>共查询出了 （{$count}） 条</i>
                </li>
            </ul>
        </form>
    </div>
    <table class="table table-hover text-center">
        <tr>
            <th width="100" style="text-align:left; padding-left:20px;">ID</th>
            <th>项目名称</th>
            <th>团队名称</th>
            <th width="15%">添加时间</th>
            <th width="25%">操作</th>
        </tr>
        <foreach name="list" item="v">
            <tr>
                <td style="text-align:left; padding-left:20px;">{$v.id}</td>
                <td>{$v.name|replace_keywords=I('get.keywords'),###}</td>
                <td>{$v.com_name|replace_keywords=I('get.keywords'),###}</td>
                <td>{$v.ad_time|date="Y-m-d H:i:s",###}</td>
                <td>
                    <div class="button-group">
                        <a class="button border-main" href="{:U('save_apis',array('id'=>$v['id']))}">修改</a> 
                        <a class="button border-green" href="{:U('list_apis',array('id'=>$v['id']))}">接口</a>
                        <a class="button border-green" href="{:U('project_error_code',array('id'=>$v['id']))}">错误</a>
                        <a class="button border-red" href="javascript:void(0)" onclick="return del('{:U('del_apis',array('id'=>$v['id']))}')">删除</a>
                    </div>
                </td>
            </tr>
        </foreach>
        <tr>
            <td colspan="7">
                <div class="pagelist"> 
                    {$page}
                </div>
            </td>
        </tr>
    </table>
</div>
<script type="text/javascript">
    function del(url) {
        if (confirm("您确定要删除吗?")) {
            window.location = url;
        }
    }
    $(function () {
        // 时间段日期选择插件
        $('input[name=times_end]').daterangepicker({
            format: 'YYYY-MM-DD',
            locale: {
                applyLabel: '确认',
                cancelLabel: '取消',
                fromLabel : '起始时间',
                toLabel : '结束时间',
                daysOfWeek : [ '日', '一', '二', '三', '四', '五', '六' ],
                monthNames : [ '一月', '二月', '三月', '四月', '五月', '六月','七月', '八月', '九月', '十月', '十一月', '十二月' ]
            },
            opens : 'right',    // 日期选择框的弹出位置
            separator : ' ~ '
        });
    })
</script>