<div class="aui-container">
    <div class="aui-page">
        <div class="aui-page-my">
            <div class="aui-my-info">
                <div class="aui-my-info-back"></div>
                <a href="javascript:;" class="">
                    <img src="__PUBLIC__/Images/Wap/my-aw.jpg" class="aui-my-avatar">
                </a>
                <div class="aui-mt-location aui-l-red"></div>
            </div>
            <div class="aui-l-content">
                <div class="aui-menu-list aui-menu-list-clear">
                    <ul>
                        <li class="b-line">
                            <a href="my-put.html">
                                <div class="aui-icon"><img src="__PUBLIC__/Images/Icons/my-in1.png"></div>
                                <h3>个人信息</h3>
                                <span><a href="http://azenui.com" target="_blank">查看框架帮助</a></span>
                                <div class="aui-time"><i class="aui-jump"></i></div>
                            </a>
                        </li>
                        <li class="b-line">
                            <a href="my-read.html">
                                <div class="aui-icon"><img src="__PUBLIC__/Images/Icons/my-in2.png"></div>
                                <h3>我的首页</h3>
                                <span>查看我的个人主页</span>
                                <div class="aui-time"><i class="aui-jump"></i></div>
                            </a>
                        </li>
                        <li class="b-line">
                            <a href="my-secure.html">
                                <div class="aui-icon"><img src="__PUBLIC__/Images/Icons/my-in3.png"></div>
                                <h3>安全中心</h3>
                                <span class="aui-an-red">请设置密保邮箱以找回密码</span>
                                <div class="aui-time"><i class="aui-jump"></i></div>
                            </a>
                        </li>
                        <li class="b-line">
                            <a href="my-up.html">
                                <div class="aui-icon"><img src="__PUBLIC__/Images/Icons/my-in4.png"></div>
                                <h3>设置</h3>
                                <div class="aui-time"><i class="aui-jump"></i></div>
                            </a>
                        </li>
                        <li class="b-line">
                            <a href="my-up.html">
                                <div class="aui-icon"><img src="__PUBLIC__/Images/Icons/my-in5.png"></div>
                                <h3>阅读</h3>
                                <div class="aui-time"><i class="aui-jump"></i></div>
                            </a>
                        </li>
                        <li class="b-line">
                            <a href="my-up.html">
                                <div class="aui-icon"><img src="__PUBLIC__/Images/Icons/my-in6.png"></div>
                                <h3>服务区域</h3>
                                <div class="aui-time"><i class="aui-jump"></i></div>
                            </a>
                        </li>
                        <li class="b-line">
                            <a href="my-up.html">
                                <div class="aui-icon"><img src="__PUBLIC__/Images/Icons/my-in8.png"></div>
                                <h3>推荐给好友</h3>
                                <div class="aui-time"><i class="aui-jump"></i></div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="aui-container">
    <div class="aui-page">
        <div class="header header-color">
            <div class="header-background"></div>
            <div class="toolbar statusbar-padding">
                <button class="bar-button back-button"  onclick="history.go(-1);"><i class="icon icon-back-sx"></i></button>
                <div class="header-title">
                    <div class="title">设置</div>
                </div>
            </div>
        </div>
        <div class="aui-content aui-card">
            <ul class="aui-list-view">
                <div class="devider b-line"></div>
                <li class="aui-list-view-cell aui-switch-body">
                    <div class="aui-switch-title">消息推送</div>
                    <input type="checkbox" class="aui-switch aui-pull-right">
                </li>
                <div class="devider b-line"></div>
                <li class="aui-list-view-cell aui-switch-body">
                    <div class="aui-switch-title">仅wifi下加载图片</div>
                    <input type="checkbox" class="aui-switch aui-pull-right" >
                </li>
                <li class="aui-list-view-cell aui-switch-body">
                    <div class="aui-switch-title">字体大小</div>
                    <div class="aui-flex aui-switch-font">
                        <div class="aui-flex-item">大</div>
                        <div class="aui-flex-item aui-switch-on">中</div>
                        <div class="aui-flex-item">小</div>
                    </div>
                </li>
                <li class="aui-list-view-cell aui-switch-body">
                    <div class="aui-switch-title">清除缓存</div>
                    <span>38MB</span>
                </li>
                <li class="aui-list-view-cell aui-switch-body">
                    <div class="opt">
                        <input class="magic-radio" type="radio" name="radio" id="r2" value="option2">
                        <label for="r2">选中</label>
                    </div>
                </li>
                <li class="aui-list-view-cell aui-switch-body">
                    <div class="opt">
                        <input class="magic-checkbox" type="checkbox" name="layout" id="c2">
                        <label for="c2">选中</label>
                    </div>
                </li>
            </ul>
        </div>

        <div class="aui-btn-item">
            <a href="javascript:;" class="btn btn-confirm">退出登录</a>
        </div>
    </div>
</div>