<div class="panel admin-panel">
    <div class="panel-head" id="add"><strong><span class="icon-pencil-square-o"></span>&nbsp;<?php if(!empty($g_info)){echo '修改';}else{echo '添加';} ?>前台用户分组</strong></div>
    <div class="body-content">
        <form method="post" class="form-x" action="">  
            <div class="form-group">
                <div class="label">
                    <label>上级前台用户分组名称</label>
                </div>
                <div class="field">
                    <select name="fid" class="input w50">
                        <option value="0">顶级分组</option>
                        <optgroup label="--------------------"></optgroup>
                        <foreach name="group_list" key="k" item="v">
                            <option value="{$k}">{$v}</option>
                        </foreach>
                    </select>
                    <div class="tips"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>前端用户分组名称</label>
                </div>
                <div class="field">
                    <input type="text" class="input w50" value="{$g_info.name}" name="name" data-validate="required:通讯录部门名称" />
                    <div class="tips"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label></label>
                </div>
                <div class="field">
                    <button class="button bg-main icon-check-square-o" type="submit"> 提交</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    $(function(){
        $('select[name=fid]').val({$g_info.fid});
    })
</script>