<div class="panel admin-panel">
    <div class="panel-head" id="add"><strong><span class="icon-pencil-square-o"></span>&nbsp;修改我的密码</strong></div>
    <div class="body-content">
        <form method="post" class="form-x" action="">  
            <div class="form-group">
                <div class="label">
                    <label>请输入旧密码</label>
                </div>
                <div class="field">
                    <input type="password" class="input w50" value="" name="password" data-validate="required:请输入旧密码" />
                    <div class="tips"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>请输入新密码</label>
                </div>
                <div class="field">
                    <input type="password" class="input w50" value="" name="new_password" data-validate="required:请输入新密码" />
                    <div class="tips"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>请再次输入新密码</label>
                </div>
                <div class="field">
                    <input type="password" class="input w50" value="" name="new_password_bak" data-validate="required:请再次输入新密码" />
                    <div class="tips"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label></label>
                </div>
                <div class="field">
                    <input type="submit" value="提交" class="button bg-main icon-check-square-o"/>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    $(function(){
        $('form').submit(function(){
            if($('input[name=new_password_bak]').val() != $('input[name=new_password]').val()){
                fil = $('input[name=new_password_bak]').parent();
                fil.parent().removeClass("check-success");
                fil.parent().addClass("check-error");
                fil.append('<div class="input-help"><ul><li>两次密码输入不一致</li></ul></div>')
                return false;
            } else {
                return true;
            }
        });
    });
</script>