<div class="login_bg">
    <div id="logo">
        <img src="__PUBLIC__/Images/Public/success.svg" alt=""/>
    </div><div class="padding-10"></div>
    <h3 class="smaller">{$message}</h3>
    <h4 class="smaller">页面即将自动跳转， 等待时间： <b id="wait"><?php echo($waitSecond); ?></b></h4> 
    <a class="login_btn" href="{$jumpUrl}">立即跳转</a>
    <a class="login_btn" href="{:U('Index/index')}">返回首页</a>
</div>
<script type="text/javascript">
    (function () {
        var wait = document.getElementById('wait')
        var interval = setInterval(function () {
            var time = --wait.innerHTML;
            if (time <= 0) {
                location.href = "{$jumpUrl}";
                clearInterval(interval);
            }
        }, 1000);
    })();
</script>